body {
  margin: 0;
  display: grid;
  grid-template-columns: minmax(0.5rem, 1fr) minmax(360px, 800px) minmax(0, 200px) minmax(0.5rem, 1fr);
  grid-template-rows: auto;
  grid-row-gap: 2rem;
  grid-template-areas: '. sitename sitename .'
                       '. nav nav .'
                       '. toc toc .'
                       '. content content .'
                       '. prev-next prev-next .'
                       '. footer footer .';
}

@media screen and (min-width: 35.5em) {
  body {
    grid-column-gap: 1rem;
    grid-template-areas: '. sitename nav .'
                         '. toc toc .'
                         '. content content .'
                         '. footer prev-next .';
  }
}

@media screen and (min-width: 48em) {
  body {
    grid-template-areas: '. sitename nav .'
                         '. content toc .'
                         '. footer prev-next .';
  }
}

body > footer, main {
  all: unset;
}

.site-name {
  grid-area: sitename;
}

.site-navigation {
  grid-area: nav;
  justify-self: flex-end;
}

.content {
  grid-area: content;
}

.toc {
  grid-area: toc;
}

.prev-next {
  grid-area: prev-next;
}

.footer {
  grid-area: footer;
}
