<!DOCTYPE html>
<html lang="{{ config.theme.locale|default('en') }}">
  <head>
    {%- block site_meta %}
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width,initial-scale=1" />

      {% if page.meta.description %}
        <meta name="description" content="{{page.meta.description}}" />
      {% elif page and page.is_homepage %}
        <meta name="description" content="{{ config['site_description'] }}" />
      {% endif %}

      {% if page.meta.author %}
        <meta name="author" content="{{ page.meta.author }}">
      {% elif config.site_author %}
        <meta name="author" content="{{ config.site_author }}">
      {% endif %}

      {% if page and page.canonical_url %}<link rel="canonical" href="{{ page.canonical_url }}">{% endif %}
      {% if config.site_favicon %}<link rel="shortcut icon" href="{{ config.site_favicon|url }}">
      {% else %}<link rel="shortcut icon" href="{{ 'img/favicon.ico'|url }}">{% endif %}
    {%- endblock %}

    {%- block social_tags %}
      <meta property="og:title" content="{{page.meta.social_tags_title}}" />
      <meta property="og:description" content="{{page.meta.description}}" />
      <meta property="og:url" content="{{page.canonical_url}}" />
      <meta property="og:image" content="{{page.meta.social_tags_image}}" />
    {%- endblock %}

    {%- block htmltitle %}
      <title>{% if page and page.title and not page.is_homepage %}{{ page.title }} - {% endif %}{{ config.site_name }}</title>
    {%- endblock %}

    {%- block styles %}
      <link rel="stylesheet" href="//writ.cmcenroe.me/1.0.4/writ.min.css">

      <link href="{{ 'css/main.css'|url }}" rel="stylesheet">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/github.min.css">
      {%- for path in extra_css %}
      <link href="{{ path }}" rel="stylesheet">
      {%- endfor %}
    {%- endblock %}

    {%- block libs %}
      <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"></script>
      <script>hljs.initHighlightingOnLoad();</script>
    {%- endblock %}

    {%- block extrahead %} {% endblock %}
  </head>
  <body{% if page and page.is_homepage %} class="homepage"{% endif %}>
    {%- block analytics %}
      {% include "analytics.html" %}
    {%- endblock %}

    {% include "site-name.html" %}

    {% if page and not page.is_homepage %}
    {% include "toc.html" %}
    {% endif %}

    {% include "nav.html" %}

    {% include "content.html" %}

    {% include "footer.html" %}

    {% if page and not page.is_homepage %}
    {% include "prev-next.html" %}
    {% endif %}

    {%- block scripts %}
      <script>
          var base_url = {{ base_url | tojson }};
      </script>
      <script src="{{ 'js/base.js'|url }}" defer></script>
      {%- for path in extra_javascript %}
      <script src="{{ path }}" defer></script>
      {%- endfor %}
    {%- endblock %}

    {% include "search.html" %}
  </body>
</html>
