---
layout: base
---

{%- include site-name.html -%}
{%- include nav.html -%}

<main class="content">
  <h1 class="page-title">
    {{page.title}}
  </h1>

  {%- assign posts = site.categories[page.title] -%}

  <ul class="post-list">
    {%- assign date_format = site.minimi.date_format | default: "%b %-d, %Y" -%}
    {%- for post in posts -%}
    <li>
      <span class="post-meta">{{ post.date | date: date_format }}</span>
      <h3>
        <a class="post-link" href="{{ post.url | relative_url }}">
          {{ post.title | escape }}
        </a>
      </h3>
      {%- if site.minimi.show_excerpts -%}
      {{ post.excerpt }}
      {%- endif -%}
    </li>
    {%- endfor -%}
  </ul>

  {% if site.paginate and paginator.total_pages > 1 %}
    {%- include paginator.html paginator=paginator -%}
  {%- endif %}
</main>

{% include footer.html %}

