<nav class="site-navigation">
  <ul>

    {%- for category_name in site.categories_order -%}
    {% assign category = site.categories[category_name] %}
    <li class="site-navigation__category nav-item">
      <h4>
        <a href="{{ '/category/' | append: category_name | url}}">
          {{category_name}}&nbsp;↓
        </a>
      </h4>

      <ul class="site-navigation__docs">
        {%- for post in category -%}
        <li>
          <a href="{{post.url}}">{{post.title}}</a>
        </li>
        {%- endfor -%}
      </ul>      
    </li>
    {%- endfor -%}
  </ul> 
</nav>

